@media (max-width: 991px) {
  body {
    max-width: 600px;
  }

  /* icon right to the left in table */
  .icon-left,
  .icon-right {
    position: absolute;
    object-fit: cover;
    width: 50px;
    height: 50px;
    top: -10px;
    left: -10px;
  }

  .icon-legacy {
    object-fit: cover;
    width: 50px;
    height: 50px;
  }

  .border-left-white,
  .border-right-white {
    border: none;
  }
}
